@page
@model SudokuApp.Pages.PuzzleModel
@{
    ViewData["Title"] = "Puzzle";
}

<h1>Solve this puzzle!!</h1><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>
<span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><span>[]</span><br/>